.cell {
  position: relative;
  height: 5em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.selected {
}
.disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: 0.75em;
  right: 0.75em;
  font-weight: 700;
}
